<?xml version="1.0" encoding="UTF-8"?>
<suite name="Parallel Testing Suite" parallel="methods" thread-count="2">
    <test name="Chrome Test">
        <classes>
            <class name="com.gfg.AppTest" />
        </classes>
    </test>
    <test name="Firefox Test">
        <classes>
            <class name="com.gfg.AppTest" />
        </classes>
    </test>
</suite>